//colors
$color-pale-gray-one: #f1f3f3;
$color-pale-gray-two: #e4e7e7;
$color-pale-gray-three: #d6dbda;
$color-pale-gray-four: #c9cfce;
$color-pale-gray-five: #c7cdcc;
$color-pale-gray-six: #bbc3c2;

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
